/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

ul {
  list-style-type: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 24px 156px;
}

.gallery-item {
  max-width: calc(33.333% - 24px);
  box-sizing: border-box;
  transition: transform 0.3s;
}

.gallery-item:hover {
  transform: scale(1.1);
}

.gallery-image {
  width: 360px;
  height: 200px;
}
/* --------- Task 2 --------- */
.feedback-form{
border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.input-field {
  border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    margin-bottom: 8px;
}

.input-field:hover,
.input-field:focus {
  border: 1px solid #000;
}
.label-field{
  font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;

}
.focused-input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 16px;
}
.textarea-field{
  border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 80px;
    margin-bottom: 16px;
}
.textarea-field:hover,
.textarea-field:focus {
  border: 1px solid #000;
}
.submit-button{
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

.submit-button:hover,
.submit-button:focus {
  background: #6c8cff;
}